* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#copyRight {
  background-color: #302aaf;
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
  color: white;
}
.copy {
  display: flex;
  margin-bottom: 0px;
  color: white;
}
.update {
  margin-bottom: 0px;
  color: white;
}
.join-copon {
  display: block;
  position: absolute;
  left: 50%;
  color: white;
}
.h2-serif {
  color: white;
  font-size: 3em;
}
.serif-title {
  font-size: 40px;
  line-height: 46px;
  color: #21165e;
  text-align: center;
}
.content {
  display: flex;
  margin-top: 40px;
}
.title {
  text-align: center;
}
#header {
  padding: 15px;
  background-color: #302aaf;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#header a {
  color: white;
  text-decoration: none;
}

label {
  cursor: pointer;
}

span {
  color: #131313;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span:before {
  width: 12px;
  height: 12px;
  border: 1.5px solid #f0f0f0;
  content: "";
  display: inline-block;
  margin: 0 16px 0 0;
  padding: 0;
  vertical-align: top;
  border-radius: 50%;
}

input[type="checkbox"]:checked + span:before {
  background: #1460c8;
  border: 1.5px solid #1460c8;
  box-shadow: inset 0px 0px 0px 1px #fff;
  color: #333;
  content: "";
  text-align: center;
  border-radius: 50%;
}

input[type="checkbox"]:focus + span::before {
  outline: 0;
}

.Helps {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  gap: 200px;
  padding: 90px;
}

.boxLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #22165e;
  font-size: 35px;
}
